	ul.MyMenu {
		font-size: 0px; /* Sin espacio entre opciones */
   }
	ul.MyMenu li{ /* Establece tamaño letra */
		font-size: 20px;
	}

	/*Estilo de las listas del menu y submenues*/
	ul.MyMenu, ul.MyMenu li ul {
		padding:0;
		list-style: none;
	}

	/* Ancho del menu y del submenu */
	ul.MyMenu li a, ul.MyMenu li ul{
		width: 9em;
		text-align: center;
	}
	
	/* Opciones (y sus bloques)  horizontalmente*/
	ul.MyMenu li{	
		display: inline-block;
		vertical-align:top;
	}
	#search{
		text-decoration: none;
		padding: 2px 16px 2px 10px;
		color: white;
		background: black;
        box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.37);
        font-family: "Comic Sans MS", cursive, sans-serif;
	}

	/*MENU NORMAL*/
	ul.MyMenu li a {
		text-decoration: none;
		padding: 4.5px 18.5px 4.5px 12.5px;
		color: white;
		background: black;
		display: block;
        box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.37);
        font-family: "Comic Sans MS", cursive, sans-serif;
	}
	ul.MyMenu li a:hover{
		background: grey;
	}
	.image{
		display:block;margin:0 auto 0 auto;
	}
	.container_pie{
		background-color:black;
		
	}
	.container_pie div p{
		background-color:black;
		color: white;
		
	}
	.image{
		width:100%;
		height:100px;
		background-color: black;
	}
	.menuP{
		background-color: black;
	}
	.col-md-12{
		background-color: black;
	}
	
	#fondo{
		background-color: WhiteSmoke;
	}
	
	h4{
		background-color: WhiteSmoke;
	}
	
	#Negrita{
		font-size: 20px;
	}
	
	#contactenos{
		background-color: #cc9900;
		font-size: 20px;
		font-weight: bold;
		text-align:center;
	}
	#claro{
		background-color: #ffffe6;
		font-family: "Comic Sans MS", cursive, sans-serif;
	}
	
	.tableVuelos{
		padding-left:10%;
		padding-top:2%;
		padding-bottom:2%;
		font-size: 20px;
		font-family: "Comic Sans MS", cursive, sans-serif;
	}
	
	table.grid{ background: #ffffe6}	
	table.grid{border:1px ; border-collapse: collapse;}
	table.grid thead tr {background:#cc9900}
	table.grid thead tr th{ background:  #cc9900; border:inherit; text-align: center;}
	table.grid tfoot tr {background:#ffffe6}
	table.grid tfoot tr td{ background:  #ffffe6; border:inherit; text-align: center;}
	table.grid tbody tr{ background: #99ff99;}
	table.grid tbody tr:nth-child(odd) {background: #ffffe6;}
	table.grid tbody tr:nth-child(even) {background: #ffffe6;}
	table.grid tbody tr td{border:inherit;}

	.boton{
		border: 2px solid #0066ff;
		border-radius: 10px;
		background-color: #0066ff;
		color:white;
	}
			
	.sign{
		font-size: 20px;
		font-weight: bold;
		text-align:center;
		background-color: #cc9900;
	}
	
	.formulario{
		font-size: 20px;
	}